* {
	// margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'roboto', sans-serif;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

menu,
ul,
ol {
	list-style: none;
}

#app {
	height: 100vh;
}

header {
	position: sticky;
	z-index: 300;
	top: 0;
}